


body{
    /* background-image:linear-gradient(white,white,ivory); */
    background-color: snow;
    font-family: Balthazar, 'Times New roman', serif;
    color: rgb(44, 44, 44);
    padding-bottom: 100px;
    height:auto;
    
}

h1 {
    position:relative;
    left: 50px;
}




.navbar li{
    list-style: none;
    display:inline;
    margin:10px;
 }
 
main{
    position:relative;
    left: 50px;
}
table, th, td{
    border:1px solid lightgrey;
    border-collapse: collapse;
    padding:5px;
}
table{
    width:1000px;
}
th{
    text-align: left;
}

code{
    color:maroon;
    font-style:normal;
    font-family:'Courier New', Courier, monospace;
    background-color: gainsboro ;
}

 .firstcol{
    width:200px;
 }

 #watermark{
    z-index: -1;
    opacity: 0.1;
    position:absolute;
    left:600px;
    top: 10px;
    font-family:Roboto, Helvetica, sans-serif;
    font-size:50px;
    padding:0px;
    line-height: 1;
    border:1px solid black;
    /* margin:0px; */
    padding-top:5px;
    border-radius: 5px;
 }

